.eventForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
}

.eventsListContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:2vh;
}

.eventCards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
}

.pageNumber {
    margin-bottom:1vh;
}